[Desktop Entry]
Version=1.0
Type=Application
Name=DBeaver CE
Comment=Universal Database Manager and SQL Client.
Exec=/usr/share/dbeaver/dbeaver
Icon=/usr/share/dbeaver/icon.xpm
Path=
Terminal=false
StartupNotify=true
